@font-face {
  font-family: 'PlaybookRegular';
  src: local('PlaybookRegular'), url(./fonts/PlaybookRegular.woff) format('woff');
}

.playbook {
  font-family: 'PlaybookRegular', serif;
}

.blue {
  color: #02A3B1;
}

.title {
  font-size: 90px;
  margin-top: 5vh;
}

.sub-title {
  font-size: 60px;
  margin-top: 5vh;
}

h4 {
  font-weight: 200;
}

h2 {
  font-weight: 400;
}
